<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edit user</title>
</head>

<body>
<br/>
<h1>Edit user</h1>
<br/>
<form th:action="@{save}" th:object="${user}" method="post" id="save">

    <input readonly type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td><label for="name"></label> Name <br/><br/></td>
            <td><input type="text" th:field="*{firstname}" placeholder="name" id="name"><br/><br/></td>
        </tr>
        <tr>
            <td><label for="lastname"></label> Lastname <br/><br/></td>
            <td><input type="text" th:field="*{lastname}" placeholder="lastname" id="lastname"><br/><br/></td>
        </tr>
        <tr>
            <td><label for="age"></label> Age <br/><br/></td>
            <td><input type="number" th:field="*{age}" placeholder="age" id="age"><br/><br/></td>
        </tr>
        <tr>
            <td><label for="email"> Email </label><br/><br/></td>
            <td><input type="text" th:field="*{email}" placeholder="email" id="email"><br/><br/></td>
        </tr>
        <tr>
            <td><input type="submit" value=" save " form="save"></td>
        </tr>
    </table>

</form>

<form th:action="@{/}" id="close">
    <input type="submit" value="Close" form="close">
</form>
</body>
</html>